/* contenitore 'quadrato'*/
.frame {
  position: fixed;
  left: var(--pad);
  right: var(--pad);
  top: var(--pad);
  bottom: var(--pad);
  /* mix-blend-mode: difference; */
  pointer-events: none;
}

.frame_line {
    position: absolute;
    background-color: #fff;
    opacity: .5;
  }

.frame_line-left {
  left: 0;
  top: 2px;
  width: 2px;
  height: 99.5%;
}
.frame_line-right {
  right: 0;
  top: 2px;
  width: 2px;
  height: 99.5%;
}
.frame_line-top {
  left: 0;
  top: 0;
  width: 100%;
  height: 2px;
}
.frame_line-bottom {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
}

