/*questo contenitore da usare solo per debug, poi probabilmente togliere*/
.home-main {
  /* height: 75%;              
  display: flex;            
  justify-content: right;   
  margin-right: 5%; */

  position: absolute;       /* posiziona l’elemento rispetto al body */
  top: max(30px, 1vmin);                /* distanza dal bordo superiore (modificabile) */
  right: 20px;              /* distanza dal bordo destro */
  width: 30%;               /* occupa il 30% della larghezza del viewport */
  max-width: 400px;         /* larghezza massima, per non sforare su desktop larghi */
  padding: 1rem;            /* spazio interno */
  box-sizing: border-box;   /* include padding e border nella width */
  overflow-wrap: break-word;/* forza il wrapping delle parole lunghe */
}

.home-main h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #ffffff;
}

.home-main p {
  font-size: 1.1rem;
  line-height: normal;
  color: #ffffff;
  overflow: auto;
}
