.project-main {
  width: 90%;
  max-width: 1100px;
  min-height: 600px;
  margin: 1rem auto;           /* 1rem dall’alto, centrato orizzontalmente */
  margin-top: -150px; /* per sovrapporre al frame */
  background: rgba(255,255,255,0.3);
  border-radius: 8px;
  box-sizing: border-box;
}

.project-title {
  justify-content: center;
  max-height: 0;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.project-content {
  display: flex;
  max-height: 500px;
  flex-direction: column;
  /*overflow-y: auto; /* abilita lo scroll verticale */
}

.content1{
  display: flex;
  min-width: 100%; 
  min-height: 400px;
  max-height: 100px;
  margin-top: 60px;
  flex-direction: row;
  justify-content: space-around; /* centra verticalmente il contenuto */
  align-items: flex-start; /* centra orizzontalmente il contenuto */
  /*overflow-y: scroll; /* abilita lo scroll verticale */
}

.video-container{
  flex: 2;
  margin-top: -8%;
  
}

.media-description {
  /* flex: 1 1 auto; */
  flex: none;
  width: 45%;
  max-height: 500px;
  margin-top: 0;
  overflow-y: scroll;
}
