/*
  per rendere le variabili “globali” – cioè visibili da qualunque parte del foglio di stile – si usa
  questo modo: :root è il selettore che targetta l’elemento <html>, quindi ogni custom property ivi dichiarata 
  è ereditata da tutto il documento.
*/
:root {
  --pad: max(30px, 1vmin); 
  --selectedButton: #c3bfbf;

}

#buttons-content li.is-selected ._dot {
  color: var(--selectedButton);
}

#buttons-content li.is-selected ._text {
  color: var(--selectedButton);
  font-weight: 1000;
}