# --------------------
# Sistema operativo
# --------------------
.DS_Store
Thumbs.db

# --------------------
# IDE / editor
# --------------------
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# --------------------
# Node.js
# --------------------
node_modules/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# --------------------
# Log
# --------------------
*.log

# --------------------
# Build/Cache
# --------------------
dist/
build/
.tmp/
.cache/
.sass-cache/

# --------------------
# Jekyll / GitHub Pages (se usi pages-gem)
# --------------------
_site/
.jekyll-cache/
.jekyll-metadata
/vendor/
Gemfile.lock

# --------------------
# Asset di backup
# --------------------
*.zip
!docs/*.zip

# --------------------
# Vari
# --------------------
Thumbs.db


/README-Copia.md